* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }
h3{
	line-height: 50%;
}
.lead{
	margin-bottom: 8px;
}
/* ---- grid ---- */

.grid {
  background-color: black;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.grid-item {
	border: 0px;
  border-radius: 0px;
	height: 20%;
  padding:0px;
  height: 300px;
  color: white;
  background-color: black;

  background-repeat:no-repeat;
  background-size:130%;
  opacity: 1;

  -webkit-transition: all .618s ease-in-out;
	-moz-transition: all .618s ease-in-out;
	-o-transition: all .618s ease-in-out;
	-ms-transition: all .618s ease-in-out;
	
}
.grid-item img {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}
.grid-item label{
	position: relative;
	left: 8px;
	bottom: -175px;
}